@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand";
  font-size: 200px;
  background-color: #dd4a48;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
